<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicPlay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF1C3F6821F39A1F0049DB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1C3F8021F39A200049DB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF1C3F8B21F39A200049DB4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
